<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>营销机会管理</title>
	{% include 'base.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/default/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/demo/demo.css' %}">
	
</head>
<body>
	<table id="ddg" class="easyui-datagrid" title="客户信息管理"  data-options="
				rownumbers:true,
				singleSelect:false,
				pagination:true,
				fit:true,
				url:'{% url 'customer:inquire_cus_detail' %}',
				method:'post',
				toolbar: '#ta',
				pageList:[10,15,20,30,40,50]
				">
		<thead frozen="true">
			<tr>
				<th data-options="field:'customer_id',checkbox:true"></th>
				<th data-options="field:'khno',width:140">客户编号</th>
				<th data-options="field:'name',width:164">客户名称</th>
				<th data-options="field:'cusManager',width:90">客户经理</th>
				<th data-options="field:'level',width:90">客户等级</th>
                <th data-options="field:'phone',width:110">联系电话</th>
			</tr>
		</thead>
        <thead>
            <tr>
                <th data-options="field:'area',align:'center',width:50">地区</th>
				<th data-options="field:'myd',width:100">满意度</th>
				<th data-options="field:'xyd',width:90">信用度</th>
				<th data-options="field:'address',width:130">地址</th>
				<th data-options="field:'postCode',width:80">邮编</th>
                <th data-options="field:'fax',width:90">传真</th>
				<th data-options="field:'website',width:130">网址</th>
				<th data-options="field:'yyzzzch',width:140">营业注册号</th>
                <th data-options="field:'fr',width:90">法人</th>
				<th data-options="field:'zczj',width:130">注册资金</th>
				<th data-options="field:'nyye',width:80">年营业额</th>
                <th data-options="field:'khyh',width:90">开户银行</th>
				<th data-options="field:'khzh',width:160">开户账号</th>
				<th data-options="field:'dsdjh',width:80">地税</th>
                <th data-options="field:'gsdjh',width:80">国税</th>
            </tr>
        </thead>
	</table>
	<div id="ta">
		<a id="btn"  href="javascript:open_cus_detail(1);" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
		<a id="btn" href="javascript:open_cus_detail(2);" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
		<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-lxr',plain:true">联系人管理</a>
        <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-jwjl',plain:true">交往记录管理</a>
        <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-lsdd',plain:true">历史订单查询</a>
		<div>
			客户名称&nbsp;&nbsp;<input type="text" id="cusname" />
			&nbsp;&nbsp;客户编号&nbsp;&nbsp;<input type="text" id="cusid" />
            &nbsp;&nbsp;状态&nbsp;&nbsp;
            <select class="easyui-combobox" id="cus_state" style="width: 100px">
                <option value="">全部</option>
                <option value="0">正常</option>
                <option value="1">暂时流失</option>
                <option value="2">确认流失</option>
            </select>&nbsp;&nbsp;
			<a id="btn"  onclick="inquire_cus_detail()" class="easyui-linkbutton"
			   data-options="iconCls:'icon-search'">查询</a>
		</div>
	</div>

    <!-- 添加客户信息 -->
    <div id="cus_inquirie" class="easyui-dialog" title="添加客户信息" style="width:700px;height:450px;">
		<input type="hidden" name="flag" id="flag">
		<input type="text"type="hidden" id="id" />
    	<form id="add" method="get">
			<table cellpadding="2">
				<tr>
					<td style="padding-right: 10px" >客户名称</td>
					<td>
						<input type="text" id="name" name="name">
					</td>
					<td style="padding-left: 70px;padding-right: 10px">地区</td>
					<td>
                        <select class="easyui-combobox" id="cus_area" name="area" style="width: 100px">
                            <option selected value="">---请选择</option>
                            <option value="上海">上海</option>
                            <option value="北京">北京</option>
                            <option value="广州">广州</option>
                            <option value="成都">成都</option>
                            <option value="深圳">深圳</option>
                        </select>
                    </td>
				</tr>
				<tr>
					<td style="padding-right: 10px">客户经理</td>
					<td>
						<input type="text"  id="cusManager" name="cusManager"/>
						<span style="color: red;padding-left: 10px">*</span>
					</td>
					<td style="padding-left: 70px;padding-right: 10px">客户等级</td>
					<td>
						<input  class="easyui-combobox" name="level" id="level"
    						data-options="valueField:'id',textField:'dataDicValue',
							value:'请选择客户等级',editable:false,url:'{% url 'base:inquire_cus_level' %}?dict_name=客户等级',method:'get'" />
					</td>
				</tr>
				<tr>
                    <td style="padding-right: 10px">客户满意度</td>
					<td >
                        <select class="easyui-combobox" id="cus_myd" name="myd" style="width: 100px">
                            <option selected value="">---请选择---</option>
                            <option value="☆">☆</option>
                            <option value="☆☆">☆☆</option>
                            <option value="☆☆☆">☆☆☆</option>
                            <option value="☆☆☆">☆☆☆</option>
                            <option value="☆☆☆☆">☆☆☆☆</option>
                            <option value="☆☆☆☆☆">☆☆☆☆☆</option>
                        </select>
                        <span style="color: red;padding-left: 10px">*</span>
                    </td>

					<td style="padding-left: 70px;padding-right: 10px">客户信用度</td>
					<td >
                        <select class="easyui-combobox" id="cus_xyd" name="xyd" style="width: 100px">
                            <option selected value="">---请选择------</option>
                            <option value="☆">☆</option>
                            <option value="☆☆">☆☆</option>
                            <option value="☆☆☆">☆☆☆</option>
                            <option value="☆☆☆">☆☆☆</option>
                            <option value="☆☆☆☆">☆☆☆☆</option>
                            <option value="☆☆☆☆☆">☆☆☆☆☆</option>
                        </select>
                        <span style="color: red;padding-left: 10px">*</span>
                    </td>
				</tr>
				<tr>
					<td style="padding-right: 10px">邮政编码</td>
					<td>
						<input type="text" id="postCode" name="postCode" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">联系电话</td>
					<td><input  type="text" id="phone"  name="phone" /></td>
				</tr>
				<tr>
					<td style="padding-right: 10px">传真</td>
					<td>
						<input type="text" id="fax" name="fax" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">网址</td>
					<td><input  type="text" id="website"  name="website" /></td>
				</tr>
				<tr>
					<td style="padding-right: 10px">客户地址</td>
					<td colspan="3"> 
						<input type="text" id="address"  name="address" style="width: 496px;" />
					</td>
				</tr>
				<tr>
					<td style="padding-right: 10px">营业执照注册号</td>
					<td>
						<input type="text"  id="yyzzzch" name="yyzzzch" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">法人</td>
					<td><input  type="text" id="fr"  name="fr" /></td>
				</tr>
				<tr>
					<td style="padding-right: 10px">注册资金(万元)</td>
					<td>
						<input type="text" id="zczj" name="zczj" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">年营业额</td>
					<td><input  type="text" name="nyye" /></td>
				</tr>
				<tr>
					<td style="padding-right: 10px">开户银行</td>
					<td>
						<input type="text" name="khyh" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">开户账号</td>
					<td><input  type="text" name="khzh" /></td>
				</tr>
				<tr>
					<td style="padding-right: 10px">地税登记号</td>
					<td>
						<input type="text" name="dsdjh" />
					</td>
					<td style="padding-left: 70px;padding-right: 10px">国税登记号</td>
					<td><input  type="text" name="gsdjh" /></td>
				</tr>
			</table>
		</form>
	</div>
<script type="text/javascript" src="{% static '/js/customer/cus_detail.js' %}"></script>
</body>

</html>