<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>营销机会管理</title>
	{% include 'base.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/default/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/demo/demo.css' %}">
	
</head>
<body>
	<div id="p" class="easyui-panel" title="客户基本信息"
     style="width:600px;height:150px;padding:10px;background:#fafafa;"
     data-options="iconCls:'icon-save',closable:true,
                collapsible:true,minimizable:false,closable:false,maximizable:true">
    <br/><br/>
        <label style="padding-right: 10px;padding-left: 50px">客户编号</label><input readonly value="{{ c.khno }}"/>
        <label style="padding-right: 10px;padding-left: 10px">客户名称</label><input readonly value="{{ c.name }}"/>
    </div>
	<table id="tg" class="easyui-datagrid" style="width:700px;height:450px;" title="客户计划操作"
				singleSelect="true" toolbar="#tt" >
		<thead>
			<tr>
				<th data-options="field:'id',width:80" >编号</th>
				<th data-options="field:'planDate',width:220" editor="{type:'datebox',options:{required:true}}">客户联系人</th>
				<th data-options="field:'planItem',width:220" editor="{type:'validatebox',options:{required:true}}">性别</th>
				<th data-options="field:'exeAffect',width:180" editor="{type:'validatebox',options:{required:true}}">职位</th>
                <th data-options="field:'exeAffect',width:180" editor="{type:'validatebox',options:{required:true}}">办公电话</th>
                <th data-options="field:'exeAffect',width:180" editor="{type:'validatebox',options:{required:true}}">手机号码</th>
			</tr>
		</thead>
	</table>
	<div id="tt">
		<a id="btn"  onclick="add()"  class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
		<a id="btn" onclick="cancel()"  class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">取消</a>
		<a id="btn" onclick="save()" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</a>
		<a id="btn" onclick="destroy()"  class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
	</div>
	<script type="text/javascript" src="{% static '/js/sales/dev_plan_detail.js' %}"></script>
</body>

</html>