<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Client Side Pagination in DataGrid - jQuery EasyUI Demo</title>
	{% include 'base.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/default/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/themes/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'system/jquery-easyui-1.3.3/demo/demo.css' %}">
	
</head>
<body>
	<table id="dg" title="Client Side Pagination"  data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10,
				fit:true
				">
		<thead>
			<tr>
				<th data-options="field:'id',checkbox:true"></th>
				<th data-options="field:'khno',width:90">客户编号</th>
				<th data-options="field:'customerName',width:184">客户名称</th>
				<th data-options="field:'overview',width:180">概要</th>
				<th data-options="field:'createMan',width:90">创建人</th>
				<th data-options="field:'linkManName',width:90">联系人</th>
				<th data-options="field:'linkPhone',width:100">联系电话</th>
				<th data-options="field:'assignMan',width:90">分配给谁</th>
				<th data-options="field:'assignTime',width:130,formatter:formatter_datetime">分配时间</th>
				<th data-options="field:'state',width:80,formatter:formatter_state">状态</th>
				<th data-options="field:'devResult',width:80,formatter:formatter_devResult">开发状态</th>
			</tr>
		</thead>
	</table>
	<script>
		function getData(){
			var rows = [];
			for(var i=1; i<=800; i++){
				var amount = Math.floor(Math.random()*1000);
				var price = Math.floor(Math.random()*1000);
				rows.push({
					inv: 'Inv No '+i,
					date: $.fn.datebox.defaults.formatter(new Date()),
					name: 'Name '+i,
					amount: amount,
					price: price,
					cost: amount*price,
					note: 'Note '+i
				});
			}
			return rows;
		}
		
		function pagerFilter(data){
			if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
				data = {
					total: data.length,
					rows: data
				}
			}
			var dg = $(this);
			var opts = dg.datagrid('options');
			var pager = dg.datagrid('getPager');
			pager.pagination({
				onSelectPage:function(pageNum, pageSize){
					opts.pageNumber = pageNum;
					opts.pageSize = pageSize;
					pager.pagination('refresh',{
						pageNumber:pageNum,
						pageSize:pageSize
					});
					dg.datagrid('loadData',data);
				}
			});
			if (!data.originalRows){
				data.originalRows = (data.rows);
			}
			var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
			var end = start + parseInt(opts.pageSize);
			data.rows = (data.originalRows.slice(start, end));
			return data;
		}
		
		$(function(){
			$('#dg').datagrid({loadFilter:pagerFilter}).datagrid('loadData', getData());
		});
	</script>
</body>
</html>