<link href="{% static '../static/system/images/sxt-favicon.ico' %}" rel="shortcut icon">
<link href="{% static '../static/system/assets/css/icons.css' %}" rel="stylesheet"/>
<link href="{% static '../static/system/assets/css/bootstrap.css' %}" rel="stylesheet"/>
<link href="{% static '../static/system/assets/css/main.css' %}" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>