{% load static %}
<link href="{% static '../static/system/images/sxt-favicon.ico' %}" rel="shortcut icon">

<link href="{% static '../static/system/assets/css/icons.css' %}" rel="stylesheet"/>
<link href="{% static '/system/assets/css/bootstrap.css' %}" rel="stylesheet"/>
<link href="{% static '../static/system/assets/css/main.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static '../static/system/jquery-easyui-1.3.3/themes/metro/easyui.css' %}">
<link rel="stylesheet" href="{% static 'system/jquery-easyui-1.3.3/themes/icon.css' %}">

<script src="{% static 'system/jquery-easyui-1.3.3/jquery.min.js' %}"></script>
<script src="{% static 'system/jquery-easyui-1.3.3/jquery.easyui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'system/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js' %}"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'system/jquery-easyui-1.3.3/jquery.edatagrid.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.base64.js' %}"></script>